.chartCard {
  width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.chartHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.chartTypeSelect {
  width: 150px;
}

.periodSelect {
  width: 100px;
}

:global {
  .ant-select-selector {
    border-radius: 4px !important;
  }
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: #ff4d4f;
}