.chartCard {
  // max-width: 1000px;
  // max-height: 1000px;
  margin: 20px;
  padding: 20px;
  background: var(--card-bg);
  transition: all 0.3s;
}

.chartHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.periodSelect {
  width: 120px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

:global {
  [data-theme='light'] {
    --card-bg: #fff;
    --chart-grid: rgba(0, 0, 0, 0.1);
  }

  [data-theme='dark'] {
    --card-bg: #1f1f1f;
    --chart-grid: rgba(255, 255, 255, 0.1);
  }
}